#reservation-form {
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 27px 43px rgb(32, 94, 171, 0.4);
}

#reservation-form #form-name h2 {
  text-align: center;
  font-family: overpas-extraBold;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #c04ae2;
  color: white;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 22px;
  background-color: #c04ae2;
  border-radius: 5px 5px 0px 0px;
}

#reservation-form #information {
  background-color: #f2f2f2;
  padding: 20px 20px 20px 20px;
}

#reservation-form
  #information
  #reservation-form
  #information
  > div:not(#guest-information) {
  margin-top: 15px;
}
/* #reservation-form #information > div > div {
  margin-top: 10px;
} */

#reservation-form #information div > input {
  margin-top: 10px;
}

#reservation-form #information div > p {
  margin-top: 10px;
}

#reservation-form #information #guest-time-card {
  margin-top: 0px;
}

#card-information {
  padding: 0px 0px 15px 0px;
  border-top: 1px solid rgb(200, 193, 193);
  border-bottom: 1px solid rgb(200, 193, 193);
}

#card-information p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
  font-family: poppins-medium;
}

#card-information div {
  margin-top: 10px;
}

#guest-information div {
  margin-top: 10px;
}
#reservation-form #information #full-name label {
  display: inline;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
}

#reservation-form #information #full-name input {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 100%;
}

#reservation-form #information #email-address label {
  display: block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
}

#reservation-form #information #email-address input {
  display: block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 100%;
  height: 40px;
}

#reservation-form #information #date label {
  display: inline;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
}

#reservation-form #information #date input {
  display: block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 100%;
  position: relative;
}

#reservation-form
  #information
  #date
  input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#reservation-form #information #time select {
  display: block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

#reservation-form #information #total-guest select {
  display: block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

.two-rows {
  display: flex;
  justify-content: space-between;
}

.two-rows > div {
  margin: 0px;
}

.two-rows div label {
  display: inline;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
}

.two-rows div input {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 100%;
}

.two-rows div:first-child {
  width: 47%;
}

.two-rows div:nth-child(2) {
  width: 47%;
}

.greeting {
  font-family: poppins-medium;
  text-align: center;
  font-size: 50px;
  color: #c04ae2;
}

#total-booked {
  font-family: poppins-medium;
  margin-top: 15px;
}

#card-information {
  padding: 0px 0px 15px 0px;
  border-top: 1px solid rgb(200, 193, 193);
  border-bottom: 1px solid rgb(200, 193, 193);
  margin-top: 15px;
}

#card-information p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
  font-family: poppins-medium;
}

#card-information div {
  margin-top: 10px;
}

#card-information .warning {
  text-align: center;
}

#card-information .warning p {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 10px;
  background-color: #dddede;
  font-family: poppins-regular;
}

#card-information #billing-address label {
  display: inline;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
}

#card-information #billing-address input {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  color: #494848;
  background-color: #f0eef0;
  outline: none;
  width: 70%;
}

#card-information #billing-address #label-checkbox {
  font-size: 15px;
  font-family: poppins-regular;
}

#card-information #billing-address #checkbox {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

#time {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

#time button {
  display: inline-block;
  width: 90px;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 40px;
  background-color: #2d973f;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

#time button:hover {
  background-color: #1e6329;
}

#time button:focu {
  background-color: #c04ae2;
}

#large-party-warning {
  font-family: poppins-regular;
  font-size: 15px;
  line-height: 20px;
  background-color: #f19797;
  display: inline-block;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 0px;
}

.unregister-prompt {
  text-align: center;
  position: relative;
}

.unregister-prompt p {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 10px;
  background-color: #ebeaea;
  font-family: poppins-regular;
  border-radius: 5px 5px 0 0;
}

.unregister-prompt p #discard {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.greeting-information {
  background-color: white;
}
