.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* style cancel submit button */
.cancel-submit {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.cancel-submit button {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #c04ae2;
  background-color: #c04ae2;
  color: white;
  border-radius: 5px;
  padding: 11px 26px;
  cursor: pointer;
  transition: all 0.3s;
}

.cancel-submit button:hover {
  background-color: #a425c8;
  transform: translateY(3px);
}

.cancel-submit a {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  color: #494848;
}

/* style reservation button */
.reservation-button {
  margin-top: 25px;
}

.reservation-button button {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #c04ae2;
  background-color: #c04ae2;
  color: white;
  border-radius: 5px;
  padding: 11px 26px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
  text-align: center;
}

.reservation-button button:hover {
  background-color: #a425c8;
  transform: translateY(3px);
}

.reservation-button a {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  color: #494848;
}

.disabled {
  margin-top: 25px;
}

.disabled button {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid gray;
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 11px 26px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s;
  text-align: center;
}

.disabled a {
  display: inline-block;
  font-family: poppins-medium;
  font-size: 18px;
  line-height: 26px;
  color: #494848;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
